| pin_name | net_name | geometry_bbox | layer | label_text | connected_strap | shape_id | shape_verified_in_gds | pin_status |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| VDD | VDD | {"x0": 2.9375, "y0": 31.27, "x1": 4.5375, "y1": 31.77, "width": 1.6, "height": 0.5} | 43 | VDD | vdd_strap | TOP_POWER_PIN_0001 | True | GEOMETRY_TOP_POWER_PIN |
| GND | GND | {"x0": 55.7525, "y0": 0.725, "x1": 57.3525, "y1": 1.225, "width": 1.6, "height": 0.5} | 43 | GND | gnd_strap | TOP_POWER_PIN_0002 | True | GEOMETRY_TOP_POWER_PIN |
