# M12C3A Geometry Machine Verification

- PINV_NW180_PW270_L50: pin_set=`True` drc_ready=`True`
- PINV_NW180_PW540_L50: pin_set=`True` drc_ready=`True`
- PINV_NW2430_PW7290_L50: pin_set=`True` drc_ready=`True`
- PINV_NW250_PW500_L50: pin_set=`True` drc_ready=`True`
- PINV_NW270_PW810_L50: pin_set=`True` drc_ready=`True`
- PINV_NW360_PW1080_L50: pin_set=`True` drc_ready=`True`
- PINV_NW450_PW1350_L50: pin_set=`True` drc_ready=`True`
- PINV_NW90_PW270_L50: pin_set=`True` drc_ready=`True`
- PINV_NW910_PW2430_L50: pin_set=`True` drc_ready=`True`
- TRANSMISSION_GATE_NW250_PW500_L50: pin_set=`True` drc_ready=`True`
